/***************************************
  High Level Structure
****************************************/

html {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/congruent_pentagon.png");
}

#container {
  /*  background-color: darksalmon;*/
}

#container > header {
  background-color: #6ab47b;
  max-width: 940px;
  height: 100px;
  margin: 0 auto;
  /* Flex Container */
  display: flex;
}

main {
  max-width: 940px;
  margin: 0 auto;
  /* Tracking color */
  background-color: darkseagreen;
}

#container > footer {
  background-color: darkolivegreen;
  max-width: 940px;
  margin: 0 auto;
}


/***************************************
  Lists
****************************************/

ul {
  list-style: none;
  /* Fix weird top/bottom extra margin */
  margin: 0;
  padding: 0;
}

a > p {
  /* Fix weird top/bottom extra margin */
  margin: 0;
  padding: 0;
}


/***************************************
  Links
****************************************/

a {
  text-decoration: none;
}

nav a,
nav a:visited {
  color: #fff;
}

nav a.selected {
  color: dimgrey;
}

nav a:hover {
  color: darkviolet;
  /* Tracking color */
  /*  background-color: forestgreen;*/
}


/***************************************
  #container > header 
****************************************/

#container > header > a {
  color: #fff;
  text-align: center;
  /* Tracking color */
  background-color: forestgreen;
  /* Flex element */
  flex: 1 1 auto;
  min-width: 150px;
}

#container > header h1 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 30px;
}

#container > header h2 {
  font-size: 14px;
  font-weight: normal;
  margin-top: -15px;
}

#container > header > nav {
  /* Tracking color */
  /*  background-color: aqua;*/
  /* Flex element */
  flex: 4 4 auto;
  /* Flex Container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#container > header ul {
  padding: 0;
  /* Tracking color */
  /*  background-color: bisque;*/
  /* Flex element */
  flex: 1 1 auto;
  /* Flex Container */
  display: flex;
}

#container > header li {
  text-align: center;
  /* Tracking color */
  /*  background-color: brown;*/
  /* Flex element */
  flex: 1 1 auto;
  /* Flex Container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#container > header li a {
  font-size: 20px;
  font-weight: normal;
  /* Tracking color */
  /*  background-color: cornflowerblue;*/
}


/***************************************
  main > section 
****************************************/

main > section {}

main > section > nav {
  /* Tracking color */
  /*  background-color: darkkhaki;*/
}

main > section > nav > ul {
  padding: 20px 0;
}

main > section > nav > ul a {
  /* Tracking color */
  /*  background-color: fuchsia;*/
  /* Flex Container */
  display: flex;
}

main > section > nav > ul img {
  margin: 20px 20px 20px 40px;
  display: inline-block;
}

main > section > nav > ul div {
  margin: 20px 40px 20px 20px;
  width: 100%;
  display: inline-block;
  /* Tracking color */
  /*  background-color: fuchsia;*/
}

main > section > nav > ul div h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}


/**************************
FOOTER
***************************/

footer {
  font-size: 14px;
  text-align: center;
  padding: 40px 0 20px 0;
}

footer a {
  color: #ccc;
}

footer a:hover {
  color: darkviolet;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}