#container {
  background-color: darksalmon;
  padding: 0 10px;
}

header {
  background-color: greenyellow;
  max-width: 940px;
  margin: 0 auto;
}

main {
  background-color: orange;
  max-width: 940px;
  margin: 0 auto;
}

footer {
  background-color: dodgerblue;
  max-width: 940px;
  margin: 0 auto;
}